<% provide(:title, "Edição de usuario") %>
<h1>Edite o seu perfil</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@usuario) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>


      <%= f.label :cpf, "CPF" %>
      <%= f.text_field :cpf, class: 'form-control' %>

      <%= f.label :nome %>
      <%= f.text_field :nome, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :celular %>
      <%= f.text_field :celular, class: 'form-control' %>

      <%= f.label :residencial %>
      <%= f.text_field :residencial, class: 'form-control' %>

      <%= f.label :tipo %>
      <%= f.text_field :tipo, class: 'form-control' %>

      <%= f.label :matricula %>
      <%= f.text_field :matricula, class: 'form-control' %>

      <%= f.label :siape %>
      <%= f.text_field :siape, class: 'form-control' %>

      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmação de Senha" %>
      <%= f.password_field :password_confirmation,
        class: 'form-control' %>

      <%= f.submit "Salvar Alterações", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>